.wrapper {
    border: 1px solid;
    width: 700px;
    height: 800px;
    margin: 50px auto;
}
.range {
    display: flex;
    align-items: center;
}
.max_number_input {
    width: 50px;
    margin-left: 10px;
    height: 20px;
    outline: none;
}